.app {
  text-align: center;
  background-color: #e6e6e6;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app__body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.app__header__heading {
  margin: 15px 0;
  font-size: 34px;
  text-decoration: underline;
  line-height: inherit;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  a {
    color: #fff;
    font-size: 34px;
    line-height: inherit;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;

    &:hover,
    &:active,
    &:focus {
      color: #fff;
    }
  }
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
}

.home__header {
  width: 100%;
  color: green;

  h2 {
    margin: 24px 0;
    font-size: 30px;
    font-weight: bold;
  }
}

.home__actioncontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 9px;
  width: 100%;
  flex: 1 1 auto;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-evenly;
    align-items: center;
  }
}

.home__actioncontainer__button {
  background-color: #282c34;
  color: white;
  padding: 20px;
  min-width: 20%;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #000;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    background-color: #000;
  }

  @media screen and (max-width: 767px) {
    min-width: 80%;
  }
}